<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <p class="text-center">INSCRIPCION JUBILACIONES</p>
      </div>
      <div class="logo-img">
        <img src="./assets/img/logo.png" alt="Sin foto" class="rounded mx-auto d-block mb-3"
        style="width: 200px; cursor: pointer;" />
      </div>
  </div>

  <mat-toolbar color="primary">    
    <mat-toolbar-row>  
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>  
      <h1>Sistema Inscripciones Jubilación</h1>
      <span class="menu-spacer"></span>    
    </mat-toolbar-row>   
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>  
        <a mat-list-item [routerLink]="'/jubilaciones/listar'">Ver Inscripciones </a>
        <a mat-list-item [routerLink]="'/jubilaciones/registrar'">Registrar Inscripciones</a>      
        <a mat-list-item (click)="sidenav.toggle()" href="/" mat-list-item>Cerrar</a>  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>