<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-12">
      <img src="./assets/img/banner-aplicativos-web.jpg" class="card-img" width="100%" height="100%">
    </div>
    <!--<div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
        <h6 style="text-align:right"><img src="./assets/img/Ministerio_educacion_barra.png" class="card-img" id="barra" width="10" height="10"></h6>
      </div>
    </div>-->
  </div>
</div>