<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="contenedor">    
<br>
<mat-card class="result"> 
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>GESTIÓN AÑO LECTIVO</mat-card-title>    
    </mat-card-header>
    <mat-form-field>
      <mat-label>Año Lectivo</mat-label>
      <mat-select formControlName="codRegAniLec">
        <mat-option *ngFor="let anioLectivoSeleccionada of listaAnioLectivo | async"
        [value]="anioLectivoSeleccionada.codigo">
            {{anioLectivoSeleccionada.descripcion +" " + anioLectivoSeleccionada.anioInicio+"-"+anioLectivoSeleccionada.anioFin}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
        <mat-label>Tipo Educación</mat-label>
        <mat-select formControlName="codTipoEducacion">
          <mat-option *ngFor="let tipoEducacionSeleccionada of listaTipoEducacion | async"
          [value]="tipoEducacionSeleccionada.codigo">
              {{tipoEducacionSeleccionada.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

    <h2 class="example-h2">Exonerados</h2>
    <mat-form-field appearance="fill">
      <mat-label>Fecha Inicio:</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha Fin:</mat-label>
      <input matInput [matDatepicker]="picker2">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <h2 class="example-h2">General</h2>
    <mat-form-field appearance="fill">
      <mat-label>Fecha Inicio:</mat-label>
      <input matInput [matDatepicker]="picker3">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha Fin:</mat-label>
      <input matInput [matDatepicker]="picker4">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
    <section class="example-section">
      <mat-checkbox>
        Estado
      </mat-checkbox>      
    </section>
    <br>
      <div class="col-sm-4"> 
      <!-- <button mat-flat-button (click)="recargar()" color="primary">Otra persona?</button>  --> 
      <button mat-raised-button color="primary">Guardar</button>    
  </div>
  </mat-card-content>
</mat-card>
<br>   
  <router-outlet></router-outlet>
</div>
</form>


