<form [formGroup]="fechasForm">
  <br>
  <h1 style="margin-left: 630px;">Detalle Fechas Titulación</h1>   
    <div class="container">     
    <div> 
        <button mat-raised-button (click)="create()" class="button">Nuevo</button> 
    </div>
    <br> 
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
          <ng-container matColumnDef="ftiCodigo">
            <th mat-header-cell *matHeaderCellDef> Nro. </th>
            <td mat-cell *matCellDef="let element"> {{element.ftiCodigo}} </td>
          </ng-container>
    
          <ng-container matColumnDef="codRegAniLec">
            <th mat-header-cell *matHeaderCellDef> Año Lectivo </th>
            <td mat-cell *matCellDef="let element"> {{element.codRegAniLec}} </td>
          </ng-container>
    
          <ng-container matColumnDef="codTipoEducacion">
            <th mat-header-cell *matHeaderCellDef> Tipo Educación </th>
            <td mat-cell *matCellDef="let element"> {{element.codTipoEducacion}} </td>
          </ng-container> 

          <ng-container matColumnDef="ftiInicioGeneral">
            <th mat-header-cell *matHeaderCellDef> Fecha Inicio General </th>
            <td mat-cell *matCellDef="let element"> {{element.ftiInicioGeneral}} </td>
          </ng-container> 

          <ng-container matColumnDef="ftiFinGeneral">
            <th mat-header-cell *matHeaderCellDef> Fecha Fin General </th>
            <td mat-cell *matCellDef="let element"> {{element.ftiFinGeneral}} </td>
          </ng-container> 

          <ng-container matColumnDef="ftiInicioExonerado">
            <th mat-header-cell *matHeaderCellDef> Fecha Inicio Exonerado </th>
            <td mat-cell *matCellDef="let element"> {{element.ftiInicioExonerado}} </td>
          </ng-container> 

          <ng-container matColumnDef="ftiFinExonerado">
            <th mat-header-cell *matHeaderCellDef> Fecha Fin Exonerado </th>
            <td mat-cell *matCellDef="let element"> {{element.ftiFinExonerado}} </td>
          </ng-container> 
    
          <ng-container matColumnDef="ftiEstado">
              <th mat-header-cell *matHeaderCellDef> Estado </th>
              <td mat-cell *matCellDef="let element"> {{element.ftiEstado}} </td>
            </ng-container>
               
          <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> Acciones </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="update(element)">
                    <mat-icon class="mat-18" style="color: brown;">system_update</mat-icon><span style="color: brown;">Editar</span>
                </button>
              </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <!--   <mat-form-field>
          <mat-label>Año Lectivo</mat-label>
          <mat-select formControlName="codRegAniLec">
            <mat-option *ngFor="let anioLectivoSeleccionada of listaAnioLectivo | async"
            [value]="anioLectivoSeleccionada.codigo">
                {{anioLectivoSeleccionada.descripcion +" " + anioLectivoSeleccionada.anioInicio+"-"+anioLectivoSeleccionada.anioFin}}
            </mat-option>
          </mat-select>
      </mat-form-field>
       
      <button mat-raised-button [routerLink]="['/guardarFechaTitulacion']" class="button">Nuevo</button>
      <br>
      <mat-form-field>
            <mat-label>Tipo Educación</mat-label>
            <mat-select formControlName="codTipoEducacion">
              <mat-option *ngFor="let tipoEducacionSeleccionada of listaTipoEducacion | async"
              [value]="tipoEducacionSeleccionada.codigo">
                  {{tipoEducacionSeleccionada.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>          
    </div>
    </form> -->
    
        <!--    
        <br>
        <div class="panel panel-default">  
            <div class="panel-heading">  
                <h1 style="text-align: center">Datos de Inscripciones</h1>      
            <div class="panel-body" align="center">  
                <table class="table table-hover table-sm">  
                    <thead class="thead-light">  
                        <tr>  
                            <th>Cod</th> 
                            <th>Tipo Jubilacion</th>  
                            <th>Tipo Discapacidad</th>
                            <th>Edad</th>  
                            <th>Tiempo Servicio</th>
                            <th>Min Aportaciones</th>
                            <th>Acciones</th>  
                              
                        </tr>  
                    </thead>  
                    <tbody>  
                         <tr *ngFor="let pj of parJub "> 
                            <td>{{pj.parcod}}</td>  
                            <td>{{pj.partipojubilacion}}</td>  
                            <td>{{pj.partipodiscapacidad}}</td>  
                            <td>{{pj.paredad}}</td> 
                            <td>{{pj.partiemposervicio}}</td> 
                            <td>{{pj.parminaportaciones}}</td>  
                            <td>                        
                              <button class="btn btn-info" [routerLink] = "['/jubilaciones/modificar/'+ pj.parcod]">Actualizar</button>
                            </td>               
                          </tr>   
                    </tbody>  
                </table>  
            </div>  
          </div>-->
        
          
            
          
        
        
        
        
        
        
    