    <div  class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
              <li><a routerLink="/">Inicio</a>
              </li>
              <li class="nav-item ">
                <a routerLink="emails" class="nav-link" class="btn btn-primary active" role="button">Contactos</a>
              </li>&nbsp;
              <li class="nav-item">
                <a  routerLink="emails/sendEmail" class="nav-link" class="btn btn-primary active" role="button" >Enviar Email</a>
              </li>          
            </ul>
          </nav>   
            <router-outlet></router-outlet>
        </div>
 
<!-- <app-contacto-email></app-contacto-email>
<app-listar-contacto></app-listar-contacto>
<router-outlet></router-outlet> -->
	